<%- include('../partials/header.ejs') %>

<section class="banner-home"></section>
<section class="items">
    <!-- Page Content -->
    <div class="container">
         <div class="heading" data-aos="fade-up" data-aos-delay="300">
            <h2>Check Out Our <span><a href="#">Categories</a></span></h2>
            <h3>One of the finest food you well found in Bahrain it's on the net now!!!</h3>
        </div>
      <div class="row text-center text-lg-left">




                    <div>
                        <a href="">
                            <div class="box">
                                <i class="bi bi-mortarboard-fill"></i>
                                <h3 class="categoryA">
                                    
                                </h3>
                            </div>
                        </a>
                    </div>
                    
<% restaurants.forEach(function (restaurent) { %>
        <div class="col-lg-3 col-md-4 col-6" data-aos="fade-left" data-aos-delay="500">
         <div class="imageBox">
          <a href="/restaurent/<%= restaurent.url %>" class="d-block mb-4 h-100" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-fluid img-thumbnail" src="<%= restaurent.profile_img %>" alt="">
              <div class="textBox">
                  <h5><%= restaurent.name %></h5>
              </div>
          </a>
         </div>
        </div>
<% }) %>


      </div>
    </div>

                


    
    <!-- /.container -->
</section>

<%- include('../partials/footer.ejs') %>